PORT=
CLIENT_URL=
BACKEND_URL=

# ----------------- MONGO AUTH -----------------
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=
# Chuỗi kết nối có xác thực qua database admin
MONGO_URI=

# ----------------- REDIS AUTH -----------------
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# ----------------- JWT SECRET -----------------
JWT_SECRET=